<div class="sidebar d-print-none d-none d-xl-block">
    {{ if .IsHome }}
  <!--  <h2>Top Posts</h2> -->
    {{ else }}
        <h2>{{ .Site.Params.Author }}</h2>
        <div>
            {{ .Site.Params.IntroDescription }}
        </div>
    <!--    <a href='{{ "about/" | absURL }}' class="btn btn-outline-secondary mt-3" role="button">Read More...</a>
        <h2 class="mt-4">Top Posts</h2> -->
    {{ end }}
    {{ range .Site.Taxonomies.tags.featured  }}
        <a href="{{ .Permalink }}" class="nav-link">{{ .Title }}</a>
    {{ end }}
    <h2 class="mt-4">Dokumentasjon</h2>
    <nav class="nav flex-column">
        {{ range first 8 (where (where .Site.Pages "Section" "help") ".Params.hidden" "!=" true) }}
        <a href="{{ .Permalink }}" class="nav-link">{{ .Title }}</a>
        {{ end }}
    </nav>
    
</div>
