<li class="nav-item">
    <a target="ext" class="nav-link active" href="{{ $.Site.Params.datacat | absURL }}">Datakatalog</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "about/" | absURL }}">Om NAP</a>
</li>
