<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {{ template "_internal/opengraph.html" . }}
        {{ template "_internal/twitter_cards.html" . }}

        <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

        <link rel="icon" type="image/png" href='{{ "images/favicon-16x16.png" | absURL }}' sizes="16x16">
        <link rel="icon" type="image/png" href='{{ "images/favicon-32x32.png" | absURL }}' sizes="32x32">

        <link href="https://fonts.googleapis.com/css?family=Oswald:400" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

        {{ $styles := resources.Get "css/styles.css" }}
        {{ $syntax := resources.Get "css/syntax.css" }}
        {{ $svv    := resources.Get "css/svv.css" }}
        {{ $styles := slice $styles $syntax | resources.Concat "css/bundle.css" | minify | fingerprint }}

        <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}"  />
        <link rel="stylesheet" href="css/svv.css">

        {{ block "head" . }}{{ end }}
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark py-1 top-nav">
            <div class="container">
                    {{ partial "navbar-brand" . }}
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="navbar-collapse collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        {{ partial "top-nav-text-links" . }}
                    </ul>
                    <div class="social-icons d-none d-lg-block">
                        {{ partial "social-icons" . }}
                    </div>
                </div>
            </div>
        </nav>

        {{ block "header" .}}{{ end }}

        <div class="main">
            {{ block "main" . }}{{ end }}
        </div>

        <footer class="mt-auto footer d-print-none">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-xl-3">
                        {{ partial "right-to-use" . }}
                    </div>
                    <div class="col-md-6 col-xl-3">
                        {{ partial "footer-disclaimer" . }}
                    </div>
                  <!--  <div class="col-md-4 col-xl-3">
                        {{/* partial "footer-about-site" . */}}
                    </div>-->
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        {{ template "_internal/google_analytics_async.html" . }}
    </body>
</html>
