<h5>Bruk av data i NAP</h5>
Alle data i NAP er åpne, og om ikke annet er angitt i datasettet, er bruk regulert av <a href="https://data.norge.no/nlod/no/2.0">Norsk Lisens for Offentige Data (NLOD)</a>.
